/* Universal */
* {
    margin: 0;
    padding: 0;
}
/* Navigation */
.navigation {
    display: flex;
}

.logo {
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

nav {
    margin-left: 40%;
    display: flex;
}

.in_nav {
    height: 35px;
    margin-top: 30px;
    border-radius: 15px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin: 10px;
}

ul li{
    list-style-type: none;
    margin: 30px;
    border-radius: 50px;
}

ul li a {
    text-decoration: none;
    color: black;
    background-color: yellow;
}
ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
}


/* Container 01 */
.container01{
    border: 1px solid black;
    padding: 200px;
    /* text-align: center; */
}
.container01 h1{
    padding: 10px;
    font-size: 45px;
}
.container01 p{
    padding: 10px;
    font-size: 20px;
    padding-right: 300px;
}
.container01 img{
    width: 300px;
    border-radius: 50%;
    position: absolute;
    top: 36%;
    right: 13%;
    box-shadow: 2px 1px 10px 1px black;
}


/* Container 02 */
.container02{
    text-align: center;
    padding: 100px 100px;
}
.container02 img{
    width: 200px;
    border-radius: 60px;
    box-shadow: 2px 1px 10px 1px black;
}
.container02 p{
    padding: 40px 100px 30px 100px;
    font-size: 20px;
}


/* Container 03 */
.container03{
    text-align:center;
    padding: 200px 100px;
}
.cont03{
    display: flex;
    justify-content: space-around;
}
.container03 h1{
    padding: 50px;
}
.podil{
    border: 1px solid red;
    padding-bottom:20px ;
}
.podil img{
    width: 200px;
}